.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.layout { 
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.layout h4{ 
    margin: 0;
    margin-bottom: 5px;
}

.layout>div:first-of-type{
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    width: 100%;   
    margin-right: 5px;
    padding: 10px;
}

.layout>div:last-of-type{
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    width: 100%;   
    padding: 10px;
}

.textCenter {
    text-align: center;
}

.mb0 {
    margin-bottom: 0;
}

.flex {
    display: flex;
}