.changePass {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.changePass form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.changePass .inputGroup {
    display: flex;
    flex-direction: column;
}

.changePass .inputGroup label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.changePass .inputGroup input {
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.inputGroup>p{
    color: #e74c3c;
    display: none;
    margin: 0;
    margin-bottom: 10px;
}

.pMatch {
    color: #e74c3c;
    margin: 0;
}

.inputGroup.invalid>p{
    display: block;
}

.inputGroup.invalid>label{
    color: #e74c3c;
}

.inputGroup.invalid>input{
    background-color: #f7b9b3;
}

.changePass input:focus {
    border-color: #2980b9;
    outline: none;
    border-radius: 4px;
}

.warning {
    background-color: #e67d2231;
    color: #e67e22;
    border:  2px solid #e67e22;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 1px #e67d2231,0 1px 3px #e67d2231;
}

.btn {
    background-color: #2980b9;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

.btn:hover {
    background-color: #4296ce;
    cursor: pointer;
}

.formBtns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .changePass form {      
        width: 100%;
    }
}