.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.roles {
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    width: 100%;
}

.roles table {
    border-collapse: collapse;
    width: 100%;
}

.roles table thead {
    box-shadow: 0 2px 1px -1px #34495e;
}

.roles table th {
    background-color: #34495e;
    color: white;
    text-align: left;
}

.roles table th,
.roles table td {
    padding: 10px;
}

.roles table th:first-of-type {   
    border-top-left-radius: 4px;
}

.roles table th:last-of-type {  
    border-top-right-radius: 4px;
}

.roles table tbody tr{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.roles table thead tr{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.roles table tbody tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

.roles table tbody tr:hover {
    background-color: #3498db25;
}

.roles table tbody {
    display: block;
    max-height: 600px;
    overflow-y: auto;
}

.btnEdit {
    background: none;
    color: #3498db;
    border: none;
}


.btnEdit:hover {
    color: #4baef0;
    cursor:pointer;
}

.btnDelete {
    background: none;
    color: #e74c3c;
    border: none;
}

.btnDelete:hover {  
    color: #f15e4e;
    cursor:pointer;
}

.btnPerm {
    background: none;
    color: #f39c12;
    border: none;
}

.btnPerm:hover {  
    color: #fab13c;
    cursor:pointer;
}

.mt0 {
    margin-top: 0;
}

.textCenter {
    text-align: center;
}

.checkTable {
    width: 100%;
    border-collapse: collapse;
}

.checkTable tr th:first-of-type {
    text-align: center;
    border-top-left-radius: 4px;
}

.checkTable tr th:last-of-type {
    border-top-right-radius: 4px;
}

.checkTable tr th {
    background-color: #34495e;
    color: white;
    text-align: left;
    padding: 15px 10px;
}

.checkTable tr td:first-of-type {
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(235, 235, 235);
    padding: 15px 10px;
    font-weight: 600;
}

.checkTable tr td {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(235, 235, 235);
    padding: 10px;
}

/* INPUT STYLES */
.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.inputGroup input {
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.inputGroup>p{
    color: #e74c3c;
    display: none;
    margin: 0;
    margin-bottom: 10px;
}

.inputGroup.invalid>p{
    display: block;
}

.inputGroup.invalid>label{
    color: #e74c3c;
}

.inputGroup.invalid>input{
    background-color: #f7b9b3;
}

input:focus {
    border-color: #2980b9;
    outline: none;
    border-radius: 4px;
}
/* INPUT STYLES END*/

/* FORMB UTTONS STYLES */
.btn {
    background-color: #2980b9;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
}

.btn.btnDanger {
    background-color: #e74c3c;
    color: white;  
}

.btn.btnDanger:hover {
    background-color: #f16151;
}

.btn.btnDefault {
    background-color: #bdc3c7;
    color: black;  
}

.btn.btnDefault:hover {
    background-color: #ced4d8;
}

.btn.btnSuccess {
    background-color: #27ae60;
    color: white;  
}

.btn.btnSuccess:hover {
    background-color: #2ebb69;
}

.btn:hover {
    background-color: #4296ce;
    cursor: pointer;
}

.formBtns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
/* FORMB UTTONS STYLES END*/

.flex {
    display: flex;
    width: 100%;
}

.flexEnd {
    justify-content: flex-end;
}

.mb1 {
    margin-bottom: 1rem;
}