.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.box {
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    width: 100%;
    padding: 10px;
}

.mt0 {
    margin-top: 0;
}

.ml1 {
    margin-left: 10px;
}

.datas {
    display: flex;
    flex-direction: column;
}

.datas p{
    margin: 5px 0px;
}

.datas>div:first-of-type {
    margin-right: 20px;
}

.datas>div>p {
    margin-right: 20px;
}

.datas>div {
    display: flex;
}

.cin {
    color: #2980b9;
    display: flex;
    align-items: center;
}

.cout {
    color: #27ae60;
    display: flex;
    align-items: center;
} 
.ticketCreated {
    background-color: goldenrod;
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 600;
    width: 70px;
    text-align: center;
}

.ticketClosed {
    background-color: #27ae60;
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 600;
    width: 70px;
    text-align: center;
}

.direction {
    display: flex;
    margin-right: 20px;
}

.direction svg{
    margin-right: 10px;
    margin-left: 10px;
}

/* FORMB UTTONS STYLES */
.btn {
    background-color: #2980b9;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
}

.btn:disabled {
    background-color:#bdc3c7 !important;
    color: grey !important;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.btn.btnDanger {
    background-color: #e74c3c;
    color: white;  
}

.btn.btnDanger:hover {
    background-color: #f16151;
}

.btn.btnDefault {
    background-color: #bdc3c7;
    color: black;  
}

.btn.btnDefault:hover {
    background-color: #ced4d8;
}

.btn.btnSuccess {
    background-color: #27ae60;
    color: white;  
}

.btn.btnSuccess:hover {
    background-color: #2ebb69;
}

.btn.btnWarning {
    background-color: #f39c12;
    color: white;  
}

.btn.btnWarning:hover {
    background-color: #f8ae38;
}

.btn:hover {
    background-color: #4296ce;
    cursor: pointer;
}

.floatR {
    float: right;
}

.btnDelete {
    background: none;
    color: #e74c3c;
    border: none;
}

.btnDelete:hover {  
    color: #f15e4e;
    cursor:pointer;
}

.btnEdit {
    background: none;
    color: #3498db;
    border: none;
}


.btnEdit:hover {
    color: #4baef0;
    cursor:pointer;
}

/* INPUT STYLES */
.inputGroup {
    display: flex;
    flex-direction: column;
}

input:disabled {
    background-color: rgb(233, 233, 233);
}

select:disabled {
    background-color: rgb(233, 233, 233) !important;
}

.inputGroup label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.inputGroup input {
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
    margin-bottom: 0;
    height: 100%;
}

.inputGroup select {
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
    margin-bottom: 0;
    height: 100%;
    background-color: white;
}

.inputGroup>p{
    color: #e74c3c;
    display: none;
    margin: 0;
    margin-bottom: 10px;
}

.inputGroup.invalid>p{
    display: block;
}

.inputGroup.invalid>label{
    color: #e74c3c;
}

.inputGroup.invalid>input{
    background-color: #f7b9b3;
}

input:focus {
    border-color: #2980b9;
    outline: none;
    border-radius: 4px;
}
/* INPUT STYLES END*/

.formBtns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.items {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.items>tbody>tr {
    border-bottom: 1px solid grey;
}

.items>thead>tr>th,
.items>tbody>tr>td {
    padding: 15px;
    
}

.closeErrorUl {
    list-style: none;
    padding-left: 0;
}

.closeErrorUl li{
    color: #e74c3c;
    background-color: #e74d3c27;
    border-radius: 4px;
    border: 1px solid #e74c3c;
    padding: 5px;
    margin-bottom: 5px;
}