.shelf>div {
    border-top: 2px solid #294b8a;
    border-left: 2px solid #294b8a;
    border-right: 2px solid #294b8a;
    width: 20%;
    height: 20px;
}

.shelf>div.active {
    border-top: 2px solid #294b8a;
    border-left: 2px solid #294b8a;
    border-right: 2px solid #294b8a;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 20px;
}

@keyframes pulse {
    0%{
        background-color: #52baff;
    }
    50%{
        background-color: #eef8ff;       
    }
    100%{
        background-color: #52baff;
    }
}